.button {
    outline: none;
    color: red;
    background: none;
    cursor: pointer;
    border: 1px red solid;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    
    
}

.button:hover {
    background-color: red;
    color: white;
}

.log__btn {
    outline: none;
    color: green;
    background: #F0F0F0;
    cursor: pointer;
    border: 1px green solid;
    border-radius: 8px;
    padding: 8px;
    margin-top: 15px;
}

.log__btn:hover {
    background-color: green;
    transition: 1s;
    color: white;

}

.exit__btn {
    outline: none;
    color: black;
    background: rgb(239, 10, 10,0.5);
    cursor: pointer;
    border: 1px black solid;
    border-radius: 4px;
    padding: 8px;
    
    max-height: 40px;
    position: absolute;
    bottom: 333px;
}

.exit__btn:hover {
    background-color: red;
    color: white;
    transition: 1s;
}

.dep__btn {
    
    width: 28px;
    height: 28px;
    outline: none;
    cursor: pointer;
    background: green;
    
    
}

.withdraw__btn {
    margin-left: 12px;
    width: 28px;
    height: 28px;
    outline: none;
    cursor: pointer;
    background: rgb(184, 3, 3);
    
}


.dep__btn:hover {
    
    background: rgb(18, 201, 18);
}

.withdraw__btn:hover {
    background-color: red;
}

.vk__log__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid black;
    padding: 4px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.vk__log__btn:hover {
    background-color: black;
    color: white;
    stroke: white;
    transition: 1.2s;
    border: 1px solid white;
    
    
}

.chat__sendMessageBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 38px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    transition: 0.5s;
    background: #491253;
    
    
}

.chat__sendMessageBtn:hover {
    
    
    transition: 0.5s;
}