.modal {
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    
    background: rgba(0,0,0, 0.8);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
    
}

.modalContent {
    padding: 25px;
    background-image: url('../../icons/rapid-plum-aardvark.png');
    background-position: 72%;
    border-radius: 16px;
    min-width: 250px;
    display: flex;
    transition: 2s;
    justify-content: center;
    border: 2px solid white;
}