.error__div {
    background-color: #77137D;
    color: black;
    width: 200px;
    height: 100px;
    animation-name: errorDiv;
    right: 600px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    top: 530px;
    animation-duration: 3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

@keyframes errorDiv {
    0% {
        opacity: 1;
        
    }
    50% {
        transform: translateX(60%);
        display: block;
        opacity: 1;
    }

    100% {
        transform: translateX(-60%);
        opacity: 0;
    }
    
}

