.input__default {
    outline: none;
    background-color: none;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    margin-top: 15px;
    max-height: 30px;
}
.input__yandex {
    outline: none;
    background-color: none;
    border: 2px solid black;
    border-radius: 6px 0px 0px 6px;
    padding: 5px;
    display: flex;
    margin-top: 15px;
    border-right: 1px solid black;
    background-color: rgb(255, 255, 255, 0.8);
    text-align: center;
}

.input__password {
    width: 100%;
    outline: none;
    background-color: none;
    border: 2px solid black;
    border-radius: 6px 6px 6px 6px;
    padding: 5px;
    display: flex;
    margin-top: 15px;
    background-color: rgb(255, 255, 255, 0.8);
    text-align: center;
}

.chat__input {
    width: 73%;
    height: 6%;
    padding: 5px;
    margin: 7px;
    margin-left: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0 ;
    margin-bottom: 15px;
    outline: none;
    border: 1px dashed black;
    background-color: rgba(254, 253, 253, 0.6);
    
}