.container__flex {
    display: flex;
    width: 1640px;
    height: 482px;
    border-bottom: 2px blue solid;
    border-top: 2px blue solid;
    justify-content: center;
    align-items: center;
   
}

.flex {
    background-color: black;
    border-radius: 4px;
    width: 250px;
    height: 400px;
    margin: 10px;
    color: white;
}

.div {
   
    background-color: white;
    position: absolute;
    bottom: 159px;
    border-top-right-radius: 5px;
    width: 100px;
    height: 60px;
    
}


