@keyframes changeNicknameBtnHover {
    

 
    50% {
        color: #F1BA27;
        
       
       
    }

  
    100% {
        color: white;
       
    }
    
}

@media (max-width:620px) {
    td.id {
        overflow-x: scroll;
        
        max-width: 100px;
    }

    td.id::-webkit-scrollbar {
        height: 2px;
        color: wheat;
    }

    .profile-left-container {
        width: 92vw !important;
        flex-wrap: wrap !important;
        


    }

    .promo__div {
        width: 100% !important;
        
    }

    .yandex__div {
        width: 100% !important;
        margin-bottom: 72px;
    }
}

@media (max-width: 1024px) {

    .promo__input {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        box-shadow: 1px 1px 49px -24px rgba(256,183,3,0.75) inset;
        -webkit-box-shadow: 1px 1px 49px -24px rgba(256,183,3,0.75) inset;
        -moz-box-shadow: 1px 1px 49px -24px rgba(256,183,3,0.75) inset;
        background-color: none;
        color: none;
        
        border-radius: 6px;
        padding: 5px;
        display: flex;
        max-height: 35%;
        height: 20%;
        width: 70%;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        
        
    }

    .withd__btn {
        background-color: #F1BA27;
        outline: none;
        border-radius: 4px;
        border: 2px solid white;
        padding: 7px;
        cursor: pointer;
        width: 50%;
        height: 65%;
        transition: 1s;
        color: white;
    }
    .dep__btn {
    
        background-color: rgb(8, 170, 8);
        outline: none;
        padding: 7px;
        border-radius: 4px;
        border: 2px solid white;
        margin-right: 5px;
        cursor: pointer;
        width: 50%;
        height: 65%;
        color: white;
        transition: 1s;
    }
    .disabled__back__btn {
        cursor: not-allowed;
        outline: none;
        transition-duration: 1s;
        color: black;
        border: none;
        border-radius: 4px 4px 0px 0px;
        padding: 12px;
        opacity: 0.5;
        background-color: rgb(256,186,3, 0.5);
    
    }
    
    .back__btn {
        cursor: pointer;
        outline: none;
        border: none;
        transition-duration: 1s;
        color: black;
        background-color: rgb(256,186,3);
        border-radius: 4px 4px 0px 0px;
        padding: 12px;
    }
    
    .back__btn:hover {
        transition-duration: 1s;
    }
    .div__status {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    td {
        border-right: 2px solid rgb(256,186,3);
        border-bottom: 2px solid rgb(256,186,3);
        border-collapse: collapse;
        
        height: 9% !important;
        
        
    }
    .status {
        border-right: none;
        width: 40%;
       
        transition: 0.5s;
        
    }
    
    .win_p {
        color: green;
        display: flex;
        justify-content: flex-start;
        margin-left: 5px;
        max-width: 250px;
        font-size: 1.2rem;
    }
    
    .status.end {
        border-bottom: none;
        border: none;
    }
    
    tr {
        
        padding: 5px;
        
        border-spacing: 0;
        
        
        
    }
    .th {
        border-bottom: 2px solid rgb(256,186,3);
       
    }
    
    
    
    tr.amount {
        width: 20%;
    }
    th.id {
       
        transition: 1s;
        border-right: 2px solid rgb(256,186,3);
        padding: 4px;
    }
    .th.amount {
        width: 10% !important;
        
        margin: 0;
        border-right: 2px solid rgb(256,186,3);
    }
    
    .check__iconDiv {
        
        width: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

    .mines__span {
        color: black;
        padding: 5px;
        width: 50%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 8px;
        padding-right: 8px;
        border-top: none;
        font-size: 18px;
        user-select: none;
        font-family:monospace;
        background-color: rgb(256,186,3);
    
    }

    
    .profile__item {
        display: flex;
        justify-content: center;
        background-color: rgb(188, 183, 183, 0.2);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: 0.5s;
        border-radius: 4px;
        box-shadow: 1px 1px 33px -4px rgba(256,183,3,0.75);
        -webkit-box-shadow: 1px 1px 33px -4px rgba(256,183,3,0.75);
        -moz-box-shadow: 1px 1px 33px -4px rgba(256,183,3,0.75);
        
    }

    
    .promo__div {
        width: 45%;
        height: 28vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        order: 3;
    }

    .yandex__div {
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 7px;
        width: 45%;
        height: 28vh; 
     
    }
    .profile-left-container {
            margin-top: 80px;
            transition: width 0.3s;
            width: 94vw;
            margin-bottom: 72px;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
        
    
    }
    .history__span {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgba(255, 252, 252, 0.6);
        top: 0px;
        user-select: none;
        padding: 5px;
        width: 150px;
        padding-bottom: 5px;
    }

    
    .history__div {
    
    
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        width: 92vw;
        color: white;
        height: 80vh;
        margin-bottom: 30px;
        align-items: center;
        text-align: center;
        box-shadow: -5px 41px 91px -28px rgba(256,183,3,0.75);
        -webkit-box-shadow: -5px 41px 91px -28px rgba(256,183,3,0.75);
        -moz-box-shadow: -5px 41px 91px -28px rgba(256,183,3,0.75);
    
    }

    .minesHistory {
        display: flex;
        width: 96%;
        height: 82%;
        justify-content: center;
        align-items: center;
        
        
    }

    p {
        font-size: 1rem;
    }
    
    .minesHistory__table {
        border: 2px solid rgb(256,186,3);
        
        width: 95%;
        height: 95%;
        border-radius: 4px;
        transition: 0.5;
        color: rgb(256,186,3);
        border-spacing: 0;
        
        
    }

    .depAndWithd__div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 35%;
        align-items: flex-end;
    }
    
    .div__user {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
       
    }
}

@media (min-width:1025px) {
    
    .promo__input {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        box-shadow: 1px 1px 49px -24px rgba(256,183,3,0.75) inset;
        -webkit-box-shadow: 1px 1px 49px -24px rgba(256,183,3,0.75) inset;
        -moz-box-shadow: 1px 1px 49px -24px rgba(256,183,3,0.75) inset;
        background-color: none;
        color: none;
        
        border-radius: 6px;
        padding: 5px;
        display: flex;
        max-height: 35%;
        height: 20%;
        width: 70%;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        
        
    }
    .depAndWithd__div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 35%;
        align-items: flex-end;
    }
    
    .div__user {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
       
    }
    .withd__btn {
        background-color: #F1BA27;
        outline: none;
        border-radius: 4px;
        border: 2px solid white;
        padding: 7px;
        cursor: pointer;
        width: 50%;
        height: 65%;
        transition: 1s;
        color: white;
    }
    .dep__btn {
    
        background-color: rgb(8, 170, 8);
        outline: none;
        padding: 7px;
        border-radius: 4px;
        border: 2px solid white;
        margin-right: 5px;
        cursor: pointer;
        width: 50%;
        height: 65%;
        color: white;
        transition: 1s;
    }

    .div__status {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hidden {
        width: 280px;
    }
    td {
        border-right: 2px solid rgb(256,186,3);
        border-bottom: 2px solid rgb(256,186,3);
        border-collapse: collapse;
        height: 9% !important;
        
    }
    .status {
        border-right: none;
        transition: 0.5s;
        
    }
    
    .win_p {
        color: green;
        display: flex;
        justify-content: flex-start;
        margin-left: 5px;
        
        font-size: 0.9rem;
    }
    
    .status.end {
        border-bottom: none;
        border: none;
    }
    
    tr {
        padding: 5px;
        
        border-spacing: 0;
        table-layout: fixed !important;
        
        
    }
    .th {
        border-bottom: 2px solid rgb(256,186,3);
       
    }
    
    
    
    tr.amount {
        width: 10%;
    }
    th.id {
        width: 40% !important;
        transition: 1s;
        border-right: 2px solid rgb(256,186,3);
        padding: 4px;
    }
    .th.amount {
        width: 10% !important;
        margin: 0;
        border-right: 2px solid rgb(256,186,3);
    }
    .th.statusHeader {
        width: 50%;
    }
    .check__iconDiv {
        
        width: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

    .mines__span {
        color: black;
        padding: 5px;
        width: 50%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-left: 8px;
        padding-right: 8px;
        border-top: none;
        font-size: 18px;
        user-select: none;
        font-family:monospace;
        background-color: rgb(256,186,3);
    
    }

    .minesHistory {
        display: flex;
        width: 96%;
        height: 82%;
        justify-content: center;
        align-items: center;
        
        
    }

    p {
        font-size: 1rem;
    }
    
    .minesHistory__table {
        border: 2px solid rgb(256,186,3);
        width: 95%;
        
        height: 95%;
        border-radius: 4px;
        transition: 0.5;
        color: rgb(256,186,3);
        border-spacing: 0;
        
        
    }

    .disabled__back__btn {
        cursor: not-allowed;
        outline: none;
        transition-duration: 1s;
        color: black;
        border: none;
        border-radius: 4px 4px 0px 0px;
        padding: 12px;
        opacity: 0.5;
        background-color: rgb(256,186,3, 0.5);
    
    }
    
    .back__btn {
        cursor: pointer;
        outline: none;
        border: none;
        transition-duration: 1s;
        color: black;
        background-color: rgb(256,186,3);
        border-radius: 4px 4px 0px 0px;
        padding: 12px;
    }
    
    .back__btn:hover {
        transition-duration: 1s;
    }
    .App {
        justify-content: flex-start !important;
    }
    .history__span {
    
    
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgba(255, 252, 252, 0.6);
        user-select: none;
        padding: 5px;
        width: 150px;
        padding-bottom: 5px;
        
       
    
        
    }
    .history__div {
    
    
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        width: 55vw;
        color: white;
        height: 80vh;
        margin-bottom: 72px;
        margin-left: 20px;
        align-items: center;
        text-align: center;
        box-shadow: -5px 41px 91px -28px rgba(256,183,3,0.75);
        -webkit-box-shadow: -5px 41px 91px -28px rgba(256,183,3,0.75);
        -moz-box-shadow: -5px 41px 91px -28px rgba(256,183,3,0.75);
    
    }

    .profile-left-container {
        transition: width 0.3s;
        width: 34vw;
        margin-bottom: 72px;
        margin-left: 25px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .profile__item {
        
        display: flex;
        justify-content: center;
        background-color: rgb(188, 183, 183, 0.2);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: 0.5s;
        border-radius: 4px;
        box-shadow: 1px 1px 33px -4px rgba(256,183,3,0.75);
        -webkit-box-shadow: 1px 1px 33px -4px rgba(256,183,3,0.75);
        -moz-box-shadow: 1px 1px 33px -4px rgba(256,183,3,0.75);
        
    }

    
    .promo__div {
        width: 100%;
        height: 28vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        order: 3;
    }

    .yandex__div {
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 7px;
        width: 100%;
        height: 28vh; 
     
    }

    


}










.body__table {
    
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    border-right: 2px solid rgb(256,186,3);
}

.check__icon.win {
    
    fill: green;
    cursor: pointer;
}
.check__icon.lose {
    
    fill: red;
    cursor: pointer;
}

.end {
    border: none;
    border-right: 2px solid rgb(256,186,3);
    border-radius: 0px;
}

.body__table.end {
    border-right: none;
}




.header__table {
    border: 2px solid rgb(256,186,3);
    border-top: none;
    border-left: none;
    display: flex;
    border-bottom-right-radius: 0px;
    justify-content: center;
    align-items: center;
    
    
}
.header__table.end {
    border-right: none;
    
    
}

.changeNicknameIcon {
    cursor: pointer;
    pointer-events: all;
}

.changeNickname__input {
    border: none;
    border-left: 5px solid white;
    height: 30px;
    outline: none;
    border-radius: 3px;
    text-align: center;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #453F3F;
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    width: 100%;
    
    transition: 2s;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.emptyInput__span {
    color: red;
    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    
    
}

.emptyInput {
    border:  none;
    border-left: 5px solid black;
    height: 30px;
    outline: none;
    width: 100%;
    background-color: black;
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    text-align: center;    
    color: red;
    border-left: 5px solid red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
::-webkit-input-placeholder {
    color: black;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.emptyInput::-webkit-input-placeholder {
    color: red !important;
}

.changeNickname__input::-webkit-input-placeholder {
    color: white !important;
    
}

.emptyInput:hover {
    
    transition: border 0.3s;
}





.modal__changeNickname {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 500px;
    width: 250px;
    flex-wrap: wrap;
}

.yes__btn {
    outline: none;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 720;
    background-color: black;
    padding: 5px;
    border-left: 5px solid green;
    margin: 5px;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.no__btn {
    outline: none;
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    border-left: 5px solid red;
    margin: 5px;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    transition: 0.3s;
    
    cursor: pointer;
}

.yes__btn:hover {
    
    color: green;
    transition: 0.3s;
   
}
.no__btn:hover {
    color: red;
    transition: 0.3s;
}

.changeNickname__span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 800;
}



.change__nicknameBtn {
    outline: none;
    color: white;
    border: 3px solid white;
    background-color: rgba(175, 87, 87, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    left: -41px;
    font-size: 18px;
    
    font-family: 'Franklin Gothic Medium';
    
    width: 160px;
    transition: 2s;
    transform: rotate(90deg);
}


.change__nicknameBtn:hover {
    outline: none;
    animation-name: changeNicknameBtnHover;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    background-color: rgba(188, 183, 183, 0.3);
    transition: 2s;
    padding: 5px;
    
    padding: 5px;
    cursor: pointer;
}


.modal__dep {
    display: flex;
    flex-direction: column;
}



.wheel__history {
    grid-area: history__div;
    display: flex;
    
    background-color:#A85B74;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.jackpot__history {
    grid-area: history__div;
    display: flex;
    background-color:#A85B74;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}




.wheel__span {
    color: black;
    border: 3px dashed white;
    padding: 5px;
    position: absolute;
    top: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: none;
    font-size: 18px;
    user-select: none;
    font-family:monospace;
    background-color: #981f9e;

}
.jackpot__span {
    color: black;
    border: 3px dashed white;
    padding: 5px;
    user-select: none;
    position: absolute;
    top: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: none;
    font-size: 18px;
    font-family:monospace;
    background-color: #981f9e;

}



.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 0px 3px 4px rgba(255, 255, 255, 1);
    padding-bottom: 5px;
    
}



.blur-user-icon {
    max-width: 100px;
    max-height: 100px;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    box-shadow: -1px 1px 13px 1px rgba(253,186,3,0.75);
-webkit-box-shadow: -1px 1px 13px 1px rgba(253,186,3,0.75);
-moz-box-shadow: -1px 1px 13px 1px rgba(253,186,3,0.75);
    border-radius: 35px;
    cursor: pointer;
   
    filter: blur(1px);
}


.user-icon {
    max-width: 100px;
    max-height: 100px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: -1px 1px 13px 1px rgba(253,186,3,0.75);
-webkit-box-shadow: -1px 1px 13px 1px rgba(253,186,3,0.75);
-moz-box-shadow: -1px 1px 13px 1px rgba(253,186,3,0.75);
    border-radius: 35px;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
}

.logout-icon {
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

}

.avatar-div:hover .logout-icon {
    visibility: visible;
    opacity: 1;
   
    
}



.avatar-div {
    position: relative;
}

.avatar-div:hover .user-icon {
    filter: blur(2px);
}





.dep__btn:hover {
    background-color: rgb(45, 203, 45);
    transition: 1s;
}
.withd__btn:hover {
    background-color: #f4c648;
    transition: 1s;
}

.header__history {
    display: flex;
    text-align: center;
    left: 440px;
    bottom: 490px;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.active {
    color: #69116E;
    margin-right: 13px;
    cursor: pointer;
}
.mines {
    cursor: pointer;
    margin-right: 13px;
    width: 70px;

}


.jackpot {
    cursor: pointer;
    margin-right: 13px;
    width: 70px;
    
}

.wheel {
    cursor: pointer;
    margin-right: 13px;
    width: 70px;
}
.mines:hover {
    color: rgb(256,186,3);

}

.jackpot:hover {
    color: rgb(256,186,3);
}

.wheel:hover {
    color: rgb(256,186,3);
}

.promo__span {
    
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255, 252, 252, 0.6);
    user-select: none;
    padding: 5px;
    width: 170px;
    padding-bottom: 5px;
}



.activate__btn {
    outline: none;
    color: black;
    background-color: rgb(256,186,3);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition-duration: 1s;
    border-bottom: 0px;
    padding: 11px;
}

.disabled__activate__btn {
    outline: none;
    color: black;
    background-color: rgb(256,186,3,0.5);
    border: none;
    border-radius: 4px;
    padding: 11px;
    cursor: not-allowed;
    opacity: 0.6;
    transition-duration: 1s;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.activate__btn:hover {
    background-color: rgb(256, 226, 3);
    
    
    transition-duration: 1s;
}

