@keyframes changeNicknameBtnHover {
    

 
    50% {
        color: #981f9e;
        
       
       
    }

  
    100% {
        color: white;
       
    }
    
}




.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}



.profile-left-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    left: 0;
    margin-bottom: 60px;
    margin-left: 30px;
    width: 200px;
    height: 500px;
       
    
}



.mines__historyTable {
    display: grid;
    border: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    padding: 0px;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-columns: minmax(250px,270px) minmax(120px, 150px) minmax(160px,220px);
    grid-template-rows: 36px repeat(10, 36px);
    transition: 1s;
   
}

.check__iconDiv {
    display: flex;
    width: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.body__table {
    
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    border-right: 2px solid white;
}

.check__icon.win {
    margin-left: 20px;
    fill: green;
    cursor: pointer;
}
.check__icon.lose {
    margin-left: 20px;
    fill: red;
    cursor: pointer;
}

.body__table.end {
    border-right: none;
}


.profile__item {
    margin: 20px;
    display: flex;
    background-color: rgb(188, 183, 183, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
    border-radius: 4px;
   
    
    
}

.header__table {
    border: 2px solid white;
    border-top: none;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header__table.end {
    border-right: none;
    
}

.changeNickname__input {
    height: 30px;
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(188, 183, 183, 0.2);
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    width: 100%;
    
    transition: 2s;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.emptyInput__span {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    
    
}

.emptyInput {
    border:  2px solid red;
    height: 30px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(188, 183, 183, 0.2);
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    text-align: center;    
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.changeNickname__input:hover {
    background-color: rgb(188, 183, 183, 0.4);
    transition: 2s;
}

::-webkit-input-placeholder {
    color: black;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal__changeNickname {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 500px;
    width: 250px;
    flex-wrap: wrap;
}

.yes__btn {
    outline: none;
    color: white;
    background-color: rgba(35, 214, 19, 0.719);
    border: 2px solid white;
    
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    transition: 2s;
    cursor: pointer;
}
.no__btn {
    outline: none;
    color: white;
    border: 2px solid white;
    background-color: rgba(199, 38, 38, 0.4);
    padding: 5px;
    margin: 5px;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    transition: 2s;
    cursor: pointer;
}

.yes__btn:hover {
    background-color: rgba(35, 214, 19, 1);
    transition: 2s;
}
.no__btn:hover {
    background-color: rgba(199, 38,38, 1);
    transition: 2s;
}

.changeNickname__span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.yandex__div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 7px;
    width: 350px;
    height: 200px; 
     
}


.change__nicknameBtn {
    outline: none;
    color: white;
    border: 3px solid white;
    background-color: rgba(175, 87, 87, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    left: -41px;
    font-size: 18px;
    
    font-family: 'Franklin Gothic Medium';
    
    width: 160px;
    transition: 2s;
    transform: rotate(90deg);
}


.change__nicknameBtn:hover {
    outline: none;
    color: white;
    animation-name: changeNicknameBtnHover;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    background-color: rgba(188, 183, 183, 0.3);
    
    transition: 2s;
    padding: 5px;
    
   

    padding: 5px;
    cursor: pointer;
}

.promo__div {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    order: 3;
}

.history__div {
    position: fixed;
    left: 400px;
    margin-left: 60px;
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
    width: 500px;
    height: 520px;
    align-items: center;
    text-align: center;
    
    

}
.modal__dep {
    display: flex;
    flex-direction: column;
}
.depAndWithd__div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.div__user {
    justify-content: flex-start;
   
}


.wheel__history {
    grid-area: history__div;
    display: flex;
    
    background-color:#A85B74;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.jackpot__history {
    grid-area: history__div;
    display: flex;
    background-color:#A85B74;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    
}



.mines__span {
    color: black;
    border: 3px dashed white;
    padding: 5px;
    position: absolute;
    top: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: none;
    font-size: 18px;
    font-family:monospace;
    background-color: #981f9e;

}
.wheel__span {
    color: black;
    border: 3px dashed white;
    padding: 5px;
    position: absolute;
    top: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: none;
    font-size: 18px;
    font-family:monospace;
    background-color: #981f9e;

}
.jackpot__span {
    color: black;
    border: 3px dashed white;
    padding: 5px;
    position: absolute;
    top: 28px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: none;
    font-size: 18px;
    font-family:monospace;
    background-color: #981f9e;

}

.history__span {
    
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255, 252, 252, 0.6);
    position: fixed;
    top: 0px;
    
    padding: 5px;
    width: 150px;
    padding-bottom: 5px;
    
   

    
}

.user-info {
    
    
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-bottom: 2px dashed white;
    padding-bottom: 5px;
    
}

.blur-user-icon {
    max-width: 100px;
    max-height: 100px;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border: 2px dashed white;
    border-radius: 35px;
    cursor: pointer;
   
    filter: blur(1px);
}


.user-icon {
    max-width: 100px;
    max-height: 100px;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border: 2px dashed white;
    border-radius: 35px;
    cursor: pointer;
    transition: 1s;
}

.dep__btn {
    
    background-color: rgb(8, 170, 8);
    outline: none;
    padding: 7px;
    border-radius: 4px;
    border: 2px solid white;
    margin-right: 5px;
    cursor: pointer;
    width: 85px;
    color: white;
    transition: 1s;
}



.logout-icon{
    width: 40px;
    height: 40px;
    max-width: 65px;
    max-height: 65px;
    position: absolute;
    top: 63px;
    right: -15px;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.withd__btn {
    background-color: #69116E;
    outline: none;
    border-radius: 4px;
    border: 2px solid white;
    padding: 7px;
    cursor: pointer;
    width: 85px;
    transition: 1s;
    color: white;
}

.dep__btn:hover {
    background-color: rgb(45, 203, 45);
    transition: 1s;
}
.withd__btn:hover {
    background-color: #981f9e;
    transition: 1s;
}

.header__history {
    display: flex;
    text-align: center;
    left: 440px;
    bottom: 490px;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.active {
    color: #69116E;
    margin-right: 13px;
    cursor: pointer;
}
.mines {
    cursor: pointer;
    margin-right: 13px;
    width: 70px;

}


.jackpot {
    cursor: pointer;
    margin-right: 13px;
    width: 70px;
    
}

.wheel {
    cursor: pointer;
    margin-right: 13px;
    width: 70px;
}
.mines:hover {
    color: #69116E;

}

.jackpot:hover {
    color: #69116E;
}

.wheel:hover {
    color: #69116E;
}

.promo__span {
    
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255, 252, 252, 0.6);
    
    padding: 5px;
    width: 170px;
    padding-bottom: 5px;
}

.promo__input {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px #69116E dashed;
    background-color: none;
    color: none;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    max-height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
}

.activate__btn {
    outline: none;
    color: white;
    background-color: #69116E;
    border: 2px solid white;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
    transition-duration: 1s;
    


}

.disabled__activate__btn {
    outline: none;
    color: white;
    background-color: #69116E;
    border: 2px solid white;
    border-radius: 4px;
    padding: 7px;
    cursor: not-allowed;
    opacity: 0.6;
    transition-duration: 1s;
    
}

.activate__btn:hover {
    background-color: #981f9e;
    
    
    transition-duration: 1s;
}

.disabled__back__btn {
    cursor: not-allowed;
    outline: none;
    transition-duration: 1s;
    color: white;
    background-color: #69116E;
    border: 2px solid white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 7px;
    position: fixed;
    bottom: 0px;
    opacity: 0.5;

}

.back__btn {
    cursor: pointer;
    outline: none;
    transition-duration: 1s;
    color: white;
    background-color: #69116E;
    border: 2px solid white;
    border-radius: 4px;
    position: fixed;
    bottom: 0px;
    
    padding: 7px;
}

.back__btn:hover {
    background-color: #981f9e;
    
    
    transition-duration: 1s;
}