.error__div {
    background-color: #77137D;
    color: white;
    width: 250px;
    border: 2px solid white;
    height: 50px;
    animation-name: errorDiv;
    right: 630px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    border-radius: 10px;
    position: relative;
    top: 100px;
    animation-duration: 3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



@keyframes errorDiv {
    0% {
        opacity: 0.5;
        
    }
    50% {
        transform: translateX(60%);
        display: block;
        opacity: 1;
    }

    100% {
        transform: translateX(-60%);
        opacity: 0;
    }
    
}

