.span__yandex {
    color: black;
    border: 2px solid black;
    border-left: 1px solid black;
    border-radius: 0px 6px 6px 0px;
    padding: 5px;
    display: flex;
    height: 29px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(229, 161, 161, 0.8);
    cursor: not-allowed;
    
}

.span {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reg__link {
    color: black;
    cursor: pointer;
    border-bottom: black 1px solid;
    margin-left: 10px;
    padding: 2px;
    padding-left: 5px;
    padding-bottom: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.chat__span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    
}



.chatEmail {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #77137D;
    display: flex;
    margin-bottom: 6px;
    cursor: pointer;
    
}
.chatSurname {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #77137D;
    display: flex;
    margin-bottom: 6px;
    margin-left: 7px;
    cursor: pointer;
    
}

.chatMessage__reply {
    color: #77137D;
    font-size: 13.5px;
    margin-left: 5px;
    font-family: 'Franklin Gothic Medium';
    
}
.chatDate {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #77137D;
    right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    
}

.chatMessage {
    font-size: 13.5px;
    margin-left: 5px;
    
    font-family: 'Franklin Gothic Medium';
    color: black;
}

.login__btn {
    cursor: pointer;
    color: black;
    font-size: 16px;
    padding: 5px 5px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login__btn:hover {
    color: #77138F;
}
.balance__span {
    padding: 3px;
    margin-left: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}