
.mines {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}

.mines__panel {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    position: fixed;
    left: 0;
    margin-left: 25px;
}
.bet__panel {
    border: 1px solid black;
    border-radius: 5px;
    width: 450px;
    height: 250px;
    
    margin-left: 25px;
}
